.box1{
    height: 100vh;
}
.box2{
    height: 100vh;
    position: relative;
}
.active{
    border-left: 4px solid rgb(62, 209, 235);
}
.box2-box1{
    width: 100%;
    height: 50vh;
    background: rgb(62, 209, 235) ;
}
.list{
    width: 100%;
    margin-top: -180px;
    position: absolute;
}
a{
    text-decoration: none;
}