{% extends "layout/base.html" %}

{% load static %}

{% block title %}Liste du personnel{% endblock title %}
{% block styles %}
    <link rel='stylesheet' type='text/css' href='{% static "apps/own/personal.css" %}'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock styles %}

{% block content %}

<div class="container-fluid mx-0 w-100 h-100  d-flex align-items-center ">
    <div class="box1 bg-light w-25 shadow-md ">
        <div class="container text-center mt-5">
            <h3 class="text-primary mb-5">BLUE-ID</h3>
        </div>
        <div class="container shadow-lg w-75 mt-5">
            <div class="d-flex flex-column border-light mb-3">
                <div class="p-2"><i class="active fa fa-user mx-3 px-1"></i>Personal</div>
                <div class="p-2"><i class=" fa fa-home mx-3 "></i><a href="{% url 'apps:index'%}" class="text-black">Home</a></div>
                <div class="p-2"><i class=" fa fa-list mx-3"></i>List total</div>
                <div class="p-2"><i class=" fa fa-user-plus mx-3"></i>Save personal</div>
            </div>
        </div>
    </div>
    <div class="box2 bg-light w-75 ">
        <div class="box2-box1 ">
            <div class="container d-flex justify-content-between ">
                <h4 class="text-light mt-2">List of personal</h4>
                <input type="text" placeholder="Effectuer une recherche rapide" class="form-control form-control-md w-50 rounded-2 mt-2 mx-2">
            </div>
        </div>
        <div class="list border-2 rounded-2 text-center mx-auto ">
            <div class="container-fluid w-100 h-100">
                <div class="d-flex align-items-center justify-content-between mb-2 ">
                    <button class="btn btn-success" data-bs-target="#addModalToggle" data-bs-toggle="modal"><span class="fa fa-plus"></span> Ajouter Personnel</button>
                    <p>Total save: {{ personals | length }}</p>
                </div>
            
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Firstname</th>
                            <th scope="col">Lastname</th>
                            <th scope="col">Email</th>
                            <th scope="col">Sex</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Date</th>
                            <th scope="col">Options</th>
                        </tr>
                    </thead>
                   
                    <tbody>
                        {% for personal in personals %}
                        <a href="{% url "apps:personal_show" personal.id %}"></a>
                            <tr>

                                    <td scope="row">{{ personal.id }}</td>
                                    <td>{{ personal.fristname }}</td>
                                    <td>{{ personal.lastname }}</td>
                                    <td>{{ personal.email }}</td>
                                    <td>{{ personal.sex }}</td>
                                    <td>{{ personal.phone }}</td>
                                    <td>{{ personal.date }}</td>
                                
                                    <td class="d-flex align-center justify-content-between">
                                        <i class="fa fa-pencil" data-bs-target="#editModalToggle" data-bs-toggle="modal"></i>
                                        <i class="fa fa-eyes" data-bs-target="#showModalToggle" data-bs-toggle="modal"></i>
                                        <a href="{% url "apps:personal_remove" personal.id %}"><i class="fa fa-trash text-danger"></i></a>
                                    </td>

                            </tr>
                            </a>
                        {% endfor %}
                       
                    </tbody>
                </table>
            
                
<div class="modal fade" id="addModalToggle" aria-hidden="true" aria-labelledby="addModalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="addModalToggleLabel">Ajouter un personnel</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-start">
        <form method="POST">
        {% csrf_token %}
        {{ add_form.as_p }}
        
        <button class="btn btn-primary col-5" type="submit">Enregistrer</button>
        </form>  
    </div>
    </div>
  </div>
</div>


<div class="modal fade" id="addModalToggle" aria-hidden="true" aria-labelledby="editModalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="editModalToggleLabel">Modifier information d'un personnel</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-start">
        <form method="POST">
        {% csrf_token %}
        {{ edit_form }}
        
        <button class="btn btn-primary col-5" type="submit">Enregistrer</button>
        </form>  
    </div>
    </div>
  </div>
</div>


                </div>
            </div>
            
    </div>
    </div>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js" integrity="sha512-X/YkDZyjTf4wyc2Vy16YGCPHwAY8rZJY+POgokZjQB2mhIRFJCckEGc6YyX9eNsPfn0PzThEuNs+uaomE5CO6A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock content %}
