{% extends "layout/base.html" %}
{% load static %}
{% block title %}Liste du personnel{% endblock title %}
{% block styles %}
    <link rel='stylesheet' type='text/css' href='{% static "apps/own/user.css" %}'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock styles %}
{% block content %}
<div class="container-fluid mx-0 w-100 h-100  d-flex align-items-center ">
    <div class="box1 bg-light w-25 shadow-md ">
        <div class="container text-center mt-5">
            <h3 class="text-success mb-5">BLUE-ID</h3>
        </div>
        <div class="container shadow-lg w-75 mt-5">
            <div class="d-flex flex-column border-light mb-3">
                <div class="p-2"><i class="active fa fa-user mx-3 px-1"></i>User</div>
                <div class="p-2"><i class=" fa fa-home mx-3 "></i><a href="{% url 'apps:index'%}" class="text-black">Home</a></div>
                <div class="p-2"><i class=" fa fa-list mx-3"></i>List total</div>
                <div class="p-2"><i class=" fa fa-user-plus mx-3"></i>Save user</div>
            </div>
        </div>
    </div>
    <div class="box2 bg-light w-75  ">
        <div class="box2-box1 ">
            <div class="container d-flex justify-content-between ">
                <h4 class="text-light mt-2">List of user</h4>
                <input type="text" placeholder="Effectuer une recherche rapide" class="form-control form-control-md w-50 rounded-2 mt-2 mx-2">
            </div>
        </div>
        <div class="list border-2 rounded-2 text-center mx-auto ">
            <div class="container-fluid w-100 h-100 rounded-2">
                <div class="containner d-flex justify-content-between">
                    <button class="btn btn-light btn-outline-success" data-bs-target="#addModalToggle" data-bs-toggle="modal"><span class="fa fa-plus"></span> Add new user</button>
                    <p class='text-white'>Total save: {{message}} </p>
                </div>
                
                <table class="table rounded-3 mt-1">
                    {% if list_number_users == 0 %}
                        <div class="container bg-light absolute text-center  shadow-lg nothing mt-2 ">
                            <p class="py-5  h6 text-black message">Oups! list empty for now...</p>
                            <p class="emoji">😞</p>
                        </div>
                    {% else %}
                    <thead>
                        <tr>   
                            <th scope="col">Name</th>
                            <th scope="col">Lastname</th>
                            <th scope="col">Sex</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Date</th>
                            <th scope="col">Check in</th>
                            <th scope="col">Check out</th>
                            <th scope="col">Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr> 
                            <a href="#">
                                <td>{{user.name}}</td>
                                <td>{{user.lastname}}</td>
                                {% comment %} <td>{{user.email_user}}</td> {% endcomment %}
                                <td>{{user.sex}}</td>
                                <td>{{user.phone}}</td>
                                <td>{{user.date}}</td>
                                <td>{{user.time}}</td>  
                                <td><button class="btn btn-sm bg-success text-light displayExit">Exit</button><p id='markExit'></p></td>  
                            </a>
                            <td><i class="fa fa-edit mx-2"></i><a href="{% url 'apps:show_user' user.id %}" class="text-black"><i class="fa fa-eye mx-2"></i></a><a href="{% url "apps:delete_user" user.id %}"><i class="fa fa-trash mx-2 text-danger"></i></a></td>   
                        </tr>
                        {% endfor %}
                    {% endif %}                       
                    </tbody>
                </table>
                <div class="modal fade" id="addModalToggle" aria-hidden="true" aria-labelledby="addModalToggleLabel" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="addModalToggle">Add new user</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body text-start">
                          <form method="POST">
                          {% csrf_token %}
                          {{ form.as_p }}
                          <button class="btn btn-primary col-5" type="submit">Enregistrer</button>
                          </form>  
                      </div>
                      </div>
                    </div>
                  </div>
                  
                
                  <!-- <div class="modal fade" id="seeModalToggle" aria-hidden="true" aria-labelledby="editModalToggleLabel" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="editModalToggleLabel">Informations user</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body text-start">
                            <h4 class="text-center">Status Visitor </h4>
                            <div class="container p-3 mt-2">
                                <H4> Name : {{user.lastname}} {{user.name}} </H4>
                                <h6> Date enter : {{user.date}} </h6>
                                <h6> Email : defalut@gmail.com </h6>
                                <h6> Hour_enter : {{user.time}} </h6>
                            </div>
                      </div>
                      </div>
                    </div>
                  </div>  -->
                </div>
            </div>

    </div>
    </div>
</div>

<script src="{% static 'apps/fichier/js/bootstrap.bundle.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js" integrity="sha512-X/YkDZyjTf4wyc2Vy16YGCPHwAY8rZJY+POgokZjQB2mhIRFJCckEGc6YyX9eNsPfn0PzThEuNs+uaomE5CO6A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    const message = document.getElementById('markExit')
    const inputDate = document.querySelector('.displayExit')
let date = new Date()
function Display_time_exit(chaine){
         let newTime = new Date(chaine).toLocaleTimeString('fr-FR', {
             hour:'numeric',
             minute:'numeric',     
         })
         return newTime
     }
     inputDate.addEventListener('click', (e)=>{
            console.log('ok')
         message.textContent += `${Display_time_exit(date)}`
          inputDate.style.display = 'none'
     })
    console.log()

</script>
{% endblock content %}
